@import url("../colors.css");

.home-pg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
    width: 100vw;
}

.posts-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vh;
    width: 90vw;
    justify-content: center;
}

.spinner {
    margin: 40px auto;
    width: 48px;
    height: 48px;
    border: 6px solid #ddd;
    border-top: 6px solid #6c5ce7;
    border-radius: 50%;
    animation: spin 0.9s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  